<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <% for (let even of number){%>
        <% if (even%2==0){%>
         <%= even%> is even
<%} }%>
    

</body>
</html>