<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/'font-awesome.min.css">
    <link rel="stylesheet" href='/stylesheets/ecommerce.css' />
    <title>mashupcommerce</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
            <a href="#" class="navbar-brand" > MASHKART</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link">Home</a>
             </div>
             <div class="navbar-nav mx-auto pt-2">
             <P class="text">WELCOME <%=usrname%></P>
            </div>
                <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-item nav-link">Login</a>
                    <a href="#" class="nav-item nav-link">Register</a>
                   
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-2" >
    <div class="row row-cols-1 row-cols-md-4 g-2">
    <div class="col-md-4 mb-3">
   <div class="card" style="width:350px;">
        <img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Fashion Styles</p>
        </div> 
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card" style="width:350px;">
        <img src="https://medlineplus.gov/images/Medicines_share.jpg" class="'card-img-top" alt="..">
        <div class="card-body">
          <p class="card-text">Medications</p>
        </div>
      </div>
    </div>
      <div class="col-md-4 mb-3">
      <div class="card" style="width:350px;">
        <img src="https://upload.wikimedia.org/wikipedia/en/f/ff/FIFA_World_Version_8_title_screen.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">video games</p>
        </div>
    </div>
      </div>
      <div class="col-md-4 mb-3">
      <div class="card" style="width:350px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtZQvsDZzbF7yBggJpzkMZatFTK47goLfcA3MXCsuSMg&s" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Watches and Accessories</p>
        </div>
      </div>
    </div>
      <div class="col-md-4 mb-3">
      <div class="card" style="width: 350px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCYoGzKcBWJHBqXKpMMiCC0bFq1FOoaGml9w&s" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Baby Products</p>
        </div>
      </div>
    </div>
     <div class="col-md-4 mb-3">
      <div class="card" style="width:350px;">
        <img src="https://thumbs.dreamstime.com/z/vintage-furniture-flat-stylish-vintage-furniture-spacious-flat-interior-beige-sofa-chairs-posters-wall-112280434.jpg?ct=jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Home and Furnitures</p>
        </div>
    </div>
      </div>
      <div class="col-md-4 mb-3">
      <div class="card" style="width: 350px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu0XDeZAXKv5eehzpUsCcluSrSMhCqoXy4Wi-iLc6_zw&s" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Fitness and Health</p>
        </div>
      </div>
    </div>
      <div class="col-md-4 mb-3">
      <div class="card" style="width:350px;">
        <img src="https://media.istockphoto.com/id/171302954/photo/groceries.jpg?s=612x612&w=0&k=20&c=D3MmhT5DafwimcYyxCYXqXMxr1W25wZnyUf4PF1RYw8=" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Groceries Market</p>
        </div>
      </div>
    </div>
      <div class="col-md-4 mb-3">
      <div class="card" style="width:350px;">
        <img src="https://t3.ftcdn.net/jpg/01/91/32/34/360_F_191323402_W2ATUPr8dGHALHrvyX4WVlEDz4qXmmd9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Household Items</p>
        </div>
      </div>
    </div>
      </div>
</div>
</div>
    </body>
    </html>