<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
        .body {
            background-image: url("Downloads/joshua-coleman-AVqs0ItdMQM-unsplash.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .navbar-nav .ml-auto {
            margin-left: auto !important;
        }
        .nav-link {
            color: white !important;
            
        }
        .navbar-brand {
            color:blue!important;
        }
        .navbar-text {
            color: red !important;
          
        }
    </style>
</head>
<body class="body">
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <a href="#" class="navbar-brand">BOOKMARK SITE</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/urllist">URL LIST</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bookmark">ADD URL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/productAjax/search_product">search URL</a>
            </li>
           </ul>
        <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                <a class="nav-link" href="/logout">LOG OUT</a>
            </li>
        </ul>
    </div>
  </nav>
</body>
</html>
