<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/main.js"></script>
</head>
<body>
    <div>
        <input type="text" id="testSearchInput" placeholder="Search by title..."><br><br>
        <table id="product-table" border="2" style="width: 50%;">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be added here by JavaScript -->
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>
