<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Bookmark</title>
</head>
<body>
    <h1>Update Bookmark</h1>

    <% if (error) { %>
        <div style="color: red;">
            <p>Error(s):</p>
            <ul>
                <% Object.values(error).forEach(err => { %>
                    <li><%= err.message %></li>
                <% }); %>
            </ul>
        </div>
    <% } %>

    <form action="/urlupdate/update/<%= bookmark._id %>" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= bookmark.title %>"><br>
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" value="<%= bookmark.url %>"><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
